
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.welcome-page {
  text-align: center;
  display: none;
}

.welcome-page.active {
  display: block;
}

.welcome-page h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0 0 15px #7d5df3;
}

.start {
  padding: 12px 25px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background: #7d5df3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px #7d5df3;
}

.start:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #9d7aff;
}


.container {
  width: 90%;
  max-width: 450px;
  text-align: center;
}

.box {
  display: none;
  padding: 22px;
  margin-bottom: 15px;


  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  
  animation: fadeIn 0.4s ease;
}

.box.active {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.question-box h2 {
  font-size: 25px;
  line-height: 1.3;
  text-shadow: 0 0 15px rgba(255,255,255,0.3);
}


.options-box .opt {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.12);
  color: white;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid rgba(255,255,255,0.15);
}

.options-box .opt:hover {
  background: rgba(255,255,255,0.25);
  transform: scale(1.03);
  box-shadow: 0 0 12px #7d5df3;
}

.result-box .emoji {
  font-size: 60px;
  margin-bottom: 10px;
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.result-box .msg {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.result-box .detail {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 18px;
}

.next {
  padding: 12px 20px;
  background: #00c9a7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 0 15px #00c9a7;
}

.next:hover {
  transform: scale(1.06);
  box-shadow: 0 0 25px #00ffe1;
}
